apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-values
  namespace: monitoring
data:
  values.yaml: |
    deploymentMode: SingleBinary

    loki:
      auth_enabled: false

    singleBinary:
      replicas: 1

    persistence:
      enabled: true
      size: 5Gi
      storageClass: ""

    storage:
      type: filesystem

    gateway:
      enabled: true
      service:
        type: ClusterIP

    service:
      type: ClusterIP

    monitoring:
      dashboards:
        enabled: true
      rules:
        enabled: true
      serviceMonitor:
        enabled: true
