apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-values
  namespace: observability
data:
  values.yaml: |
    deploymentMode: "SingleBinary"
    loki:
      auth_enabled: false

    ingester:
      lifecycle_stage: "stable"

    storage:
      type: filesystem

    singleBinary:
      replicas: 1

    persistence:
      enabled: true
      size: 10Gi

    service:
      type: ClusterIP

    gateway:
      enabled: true

    # Enable log receiving
    server:
      http_listen_port: 3100
