apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-values
  namespace: monitoring
data:
  values.yaml: |
    deploymentMode: SingleBinary

    loki:
      auth_enabled: false

    storage:
      type: filesystem

    singleBinary:
      replicas: 1

    persistence:
      enabled: true
      size: 5Gi

    gateway:
      enabled: true

    service:
      type: ClusterIP
